{% extends "base.html" %}
{% include 'navbar.html'%}
{% block content %}
<p>
      <h1 style="text-align: center;">PLAN YOUR BEST HOLIDAYS!</h1>
      <br>
      <center>
      <img src="https://cdn10.bigcommerce.com/s-ehq9w/products/873/images/1853/tr262thumb%252520-%252520Greek%252520House%252520by%252520the%252520Sea__62635.1409339906.1280.1280.jpg?c=2">
</center>
      <p>
      <h3>any questions ?</h3>
      {{form}}
</p>
<br>
      <button type=submit>Contact us </button>
</p>
{% endblock %}

