{% block content %}
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#9cc2e057" style="padding-top: 35px; padding-bottom: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'my_cards' %}">My Cards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <span class="navbar-text" style="color: #3d83b9f7;" >
          {{user.username}}
        </span>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout'%}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" href="{% url 'home' %}" >Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" href="{% url 'transaction' %}" >Transaction</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup'%}">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login'%}">Login</a>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>

      {% endblock %}